.search {
  /* White */
  > input {
    background: yellow;
    /* Page BG Color */

    border: 1px solid #f5f6f8;
    box-sizing: border-box;
    border-radius: 30px;
    color: #848484;
    width: 432px;
    height: 38px;
  }
}
